<!DOCTYPE html>
<html>

  <head>

    <title>Socialite</title>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <!-- Navigation -->

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Socialite</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", home_path %>
            </li>
            <li>
               <%= link_to "Create Post", new_post_path %>
            </li>
            <% if current_user %>
              <li>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %>
            <% else %>
            <li>
              <%= link_to "Log in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>  
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  <div class = "container">
    <div class = "row">
      <div class = "col-lg-12 text-center">
        <%flash.each do |a, b| %>
          <div class="alert alert-success"> <%= b %> </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>    


  <style> body {padding: -top:70px;}</style>   
 
  </body>

</html>
